################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Sample/x64
/Talk2D/x64/Debug
/Talk2D/x64/Debug_VisualStudio2019
/Talk2D/x64/Release
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/x64/Debug/D3DCompiler_43.dll
/x64/Debug/d3dx10d_43.dll
/x64/Debug/d3dx11d_43.dll
/x64/Debug/d3dx9d_43.dll
/x64/Debug/Sample.exe
/x64/Debug/Sample.pdb
/x64/Debug/simple.cso
